/*===== header ======================*/

.cabeçalho {
  background: rgb(24, 24, 24);
}

.titulo {
  color: aliceblue;
  position: absolute;
  margin-top: 120px;
  font-size: 60px;
  display: inline-block;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

span {
  color: #eeff00;
}

.logo {
  display: inline-block;
}

/*===== main ======================*/
a {
  margin-left: 50px;
  font-size: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
  text-decoration: none;
}
.home-link,
.quemsomos-link,
.serviços-link,
.contatos-link {
  color: #eeff00;
}

hr {
  color: rgb(155, 155, 155);
}

/*===== HOME ======================*/

.home-paragrafo,
p {
  font-size: 25px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(92, 92, 92);
}
.pezinho {
  font-size: 50px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(92, 92, 92);
}

/*===== QUEM SOMOS? ====================*/

.titulo-sobre {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  font-size: 50px;
  color: rgb(92, 92, 92);
}

/*===== SERVIÇOS ====================*/

.serviços-titulo {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  font-size: 50px;
  color: rgb(92, 92, 92);
  margin-bottom: 60px;
}

.serviços-barbearia h3 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 25px;
  color: rgb(92, 92, 92);
}

.serviços-cabelo {
  margin-top: 100px;
}

.serviços-cabelo h3 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 25px;
  color: rgb(92, 92, 92);
}

.serviços-estética {
  margin-top: 100px;
}

.serviços-estética h3 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 25px;
  color: rgb(92, 92, 92);
}
/*===== FALE CONOSCO ====================*/
.titulo-contatos {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  font-size: 50px;
  color: rgb(92, 92, 92);
}

input {
  height: 50px;
  width: 800px;
}

.msg {
  height: 300px;
  width: 800px;
}

button {
  height: 50px;
  width: 100px;
  border-radius: 5px;
  font-size: 20px;
  color: white;
  background-color: rgb(25, 97, 165);
}

/*===== footer ======================*/

footer {
  margin-top: 90px;
  background-color: rgb(24, 24, 24);
}

.logo-rodape {
  size: 20px;
}

.icone-whatsapp {
  position: absolute;
  margin-top: 10rem;
  margin-left: 40rem;
  width: 40px;
}

.icone-instagram {
  position: absolute;
  margin-top: 10rem;
  margin-left: 40rem;
  width: 40px;
}

.rodape {
  size: 100%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  font-size: 20px;
  color: white;
}
